.Swap{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-swap{
    max-width: 1197px;
    width: 100%;
    background-color: #000836;
    box-sizing: border-box;
    padding: 40px 100px;
    margin-top: 100px;
    border-radius: 20px;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}
.change .top {
    position: relative;
}
.change .top, .change .bottom {
    background: #42465E;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(57, 56, 56, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    padding: 42px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.change .top .convert {
    width: 60px;
    height: 60px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 30px);
    z-index: 10000 !important;
    background-color: #42465E;
    outline: none;
    cursor: pointer;
}
.change .top .convert img {
    width: 15px;
    height: 15px;
}
.change .top .convert .top-arow{
    width: 25px;
    height: 40px;
}


.change .top .select {
    display: flex;
}
.change .top .select span {
    color: #FFFFFF;
    margin: 0 15px;
}
.change .bottom .select span {
    color: #FFFFFF;
    margin: 0 15px;
}
.change .top .select, .change .bottom .select {
    max-width: 160px;
    width: 100%;

    background-color: #040404;
    border-radius: 17px;
    box-sizing: border-box;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}
.change .top .select .selectedCoin img  {
    width: 30px;
    height: 30px;
}
.change .bottom .select .selectedCoin img {
    width: 30px;
    height: 30px;
}
.change .top .count span{
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.16em;
    margin-right: 15px;
}
.change .top .count input,  .change .bottom .count input{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.16em;
    color: #9A9A9A;
    background: transparent;
    border: none;
    outline: none;
    text-align: right;
}
.change .bottom .count ,  .change .top .count  {
    display: flex;
    align-items: center;
}
.change .bottom .count .selectedCoin,  .change .top .count .selectedCoin{
    margin-right: 10px;
}
.change .bottom .count .selectedCoin img{
    width: 30px;
    height: 30px;
}

  .change .top .count .selectedCoin img{
    width: 30px;
    height: 30px;
}
.bottom{
    margin-top: 10px;
}
.change .bottom .select {
    background-color: #6d6d6d;
    color: #FFFFFF;
}
.connect-wallet{
    width: 100%;
    color: #FFFFFF;
    outline: none;
    border: none;
    background: #C32977;
    box-shadow: 0px 4px 5px #151515;
    border-radius: 72px;
    box-sizing: border-box;
    padding: 12px 0;
    margin-top: 43px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.16em;
    cursor: pointer;
}
