.header-voting {
  max-width: 1318px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-left: 30px;
}
.header-voting h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.16em;
  color: #ffffff;
}
.header-voting button {
  background: linear-gradient(
    93.61deg,
    #c32977 0%,
    #771145 52.6%,
    #580830 100%
  );
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 52px;
  color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  padding: 0 44px;
  height: 45px;
}
.chips-voting {
  max-width: 1318px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 30px;
}
.chip-voting {
  background: #210039;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 52px;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  max-width: 223px;
  width: 100%;
  color: #ffffff;
}
.section-voting {
  max-width: 1318px;
  width: 100%;
  margin-left: 30px;
}
.section-voting h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.16em;
  color: #ffffff;
}
.section-cart {
  max-width: 345px;
  width: 100%;
  background: #e5e5e5;
  box-shadow: 0px 4px 4px rgba(57, 56, 56, 0.25);
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}
.section-cart h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.16em;
  text-decoration-line: underline;
  color: #000836;
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-cart p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.16em;
}
.section-cart p span {
  font-weight: bold;
}
.range {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.range p {
  display: flex;
  justify-content: flex-start;
}
.range .yes {
  width: 100%;
}
