.header-reward{
    max-width: 1318px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}
.title-reward {
    margin-top: 67px;
}
.title-reward h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.16em;
    color: #FFFFFF;
}
.title-reward h2 span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    letter-spacing: 0.16em;
    text-decoration-line: underline;
}
.section-reward{
    max-width: 1318px;
    width: 100%;
    margin: 0 auto;
}
.box-reward{
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    background: #42465E;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(57, 56, 56, 0.25);
    border-radius: 15px;
    margin-bottom: 20px;
}
.stakes-section{
    max-width: 579px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.block-section{
    color: #FFFFFF;
}
.block-section h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.16em;
}
.block-section p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
.read-more{
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
}
