.App {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    box-sizing: border-box;
    background-size: 100%;
    overflow: hidden;
}
.layout{
    width: 100%;
    display: flex;
}
.sideBar{
    max-width: 341px;
    width: 100%;
    background-color: #1B1831;
    height: 89.9vh;
}
.section{
    width: 100%;
}
.backdrop{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, .4);
    z-index: 999999;
}
