.Lend {
    width: 100%;
    overflow-y: auto;
    height: 100%;
}
.wrapper{
    max-width: 1318px;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-top: 67px;
}
.findOffers{
    width: 100%;
    background: #1B1831;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(57, 56, 56, 0.25);
    border-radius: 15px;
    padding: 15px;
}
.findOffers h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.16em;
    color: #FFFFFF;
}
.findOffers .chips-voting{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0;
}
.findOffers .chip-voting{
    background: #210039;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 52px;
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
    max-width: 201px;
    width: 100%;
    color: #FFFFFF;
    outline: none;
}
.findOffers .chips-voting input {
    box-sizing: border-box;
    padding: 12px 8px;
}
.findOffers button {
    background: linear-gradient(93.61deg, #C32977 0%, #771145 52.6%, #580830 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 52px;font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    padding: 12px 24px;
    margin:  31px auto;
    display: block;
    outline: none;
    cursor: pointer;

}
.section-lend{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 46px;
}
.section-lend h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-lend button {
    background: linear-gradient(93.61deg, #C32977 0%, #771145 52.6%, #580830 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 52px;font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    padding: 8px 24px;
    display: block;
    outline: none;
    cursor: pointer;
    height: 50px;
}
.filter-lend{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.filter-lend img {
    margin-left: 15px;
    outline: none;
    cursor: pointer;
}
.section-reward{
    width: 100%;
}
.box-reward{
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    background: #42465E;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(57, 56, 56, 0.25);
    border-radius: 15px;
    margin-bottom: 20px;
}
.stakes-section-lend{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block-section{
    color: #FFFFFF;
}
.block-section h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.16em;
}
.block-section p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
.read-more{
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
}
